.home {
  background-image: url("/src/images/bc.jpg");
  background-repeat: repeat-x; 
   background-size: cover;
  /* background-color: darkblue; */
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imaged {

  border-color: black;
}

.give {
  color: whitesmoke;
  padding-top: 140px;
}

.secCard {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.secCard h2 {
  font-style: italic;
  font-variant: small-caps;
  font-weight: bolder;
  text-decoration: underline;
}

.centering {
  padding-left: 20%;
  font-variant: initial;
  font-weight: bolder;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
